.banner{
    height: 400px;
    width: 100%;
    background:linear-gradient(to right, #fafafa 60%, #ffffff 40%);
    margin-top: 8rem;
    margin-bottom: 10rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* padding: 80px 60px; */
    gap: 40px;
}
.bannerImage{
     flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: self-start;
    height: 200px;  
}
.banImg{
    width: 400px;
    height: 600px;
    margin-top: -100px;
}

.bannerText h1{
    font-size: 48px;
    font-weight: 700;
    color: #111;
    line-height: 1.1;
    letter-spacing: -1px;
}
.bannerText p{
    margin-top: 16px;
    font-size: 18px;
    color: #666;
    line-height: 1.6;
}
.bannerText{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 100px;
    gap: 40px;
}
.button{
    margin-top: 24px;
    padding: 12px 26px;
    background: var(--accent-color);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}
.button:hover{
     background-color: #ff9500;
    transform: translateY(-3px);
    transition: 0.8s ease;
    box-shadow: 0 8px 20px rgba(255,106,0,0.4);
}
 @media (min-width: 320px) and (max-width: 480px) {
    .banner{
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
         margin-top: -2rem;
         background:linear-gradient(to right, #fafafa 100%);
    }
    .bannerText{
    margin-top: 150px;
    margin-left: 50px;
    gap: 40px;
}
    .bannerImage{
        display: none;
}
.button{
    margin-left: -70px;
}
 }

 @media (min-width: 481px) and (max-width: 768px) {
    .banner{
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        margin-top: -2rem;
        background:linear-gradient(to right, #fafafa 100%);
    }
    .bannerText{
    margin-top: 150px;
    margin-left: 50px;
    gap: 40px;
}
    .bannerImage{
        display: none;
}
.button{
    margin-left: -70px;
}
 }

  @media (min-width: 769px) and (max-width: 1024px) {
    .banner{
        height: 600px;
    }
  }