html{
    scroll-behavior: smooth;
}
.card{
   height: 100%;
   width: 450px;
   margin-top: 80px;
   padding: 10px;
}
.cardContent{
   line-height: 2;
}
.sizes{
    font-size: 15px;
}
.prodName{
   font-size: 20px;
   margin-bottom:20px ;
   
}
.sizeButton {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    width: 200px;
}
.sizeButton button{
    gap: 10px;
    width: 30px;
    height: 30px;
    background-color: var(--accent-color);
    color: white;
}
.sizeButton button:hover{
    background-color: #ff9500;
    transform: translateY(-3px);
    transition: 0.8s ease;
    box-shadow: 0 8px 20px rgba(255,106,0,0.4);
    color: white;
}
.prodCategory{
    font-size: 15px;
}
.prodDes{
    font-size: 15px;
}
.prodText{
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.cartControls{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    gap: 30px;
}

.cart{
    width: 70%;
    padding: 8px;
    border: none;
    background-color: var(--accent-color);
    color: white;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
    border-radius: 6px;
}

.cart:hover{
    background-color: #ff9500;
    transform: translateY(-3px);
    transition: 0.8s ease;
    box-shadow: 0 8px 20px rgba(255,106,0,0.4);
    color: white;
}
.qtyBox{
    display: flex;
    align-items: center;
    gap: 12px;
}

/* BUTTONS */
.decrease,
.increase{
    height: 30px;
    width: 40px;
    background-color: var(--accent-color);
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

/* WISHLIST */
.wishlist{
    background: transparent;
    border: none;
    cursor: pointer;
}

.activeWishlist{
    transform: scale(1.1);
}